:root {
    /* color variables */
    --warm-gray: #DCD6D1;
    --drizzle: #A4A29E;
    --black: #000000;
    --286-c: #0032A0;
    --orange-016-c: #FF5600;
    --cloud-dancer: #F1F0EC;
}

/* Neue Machina - Medium (Used for logo) */
@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('~/assets/fonts/PPNeueMachina-PlainMedium.woff2') format('woff2');
}

/* Neue Machina - Regular */
@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('~/assets/fonts/PPNeueMachina-PlainRegular.woff2') format('woff2');
}

/* NB International - Regular */
@font-face {
  font-family: 'NB International';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('~/assets/fonts/nbinternationalproreg-webfont.woff2') format('woff2');
}

html {
    background-color: var(--cloud-dancer);
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: var(--warm-gray);
}

@media only screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}

body {
    font-family: 'NB International', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--cloud-dancer);
}

body::-webkit-scrollbar{
    display: none;
}

.logo {
    font-family: 'Neue Machina';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.7; /* 24px */
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    font-feature-settings: 'ss05';
    text-decoration: none !important;

    @media (max-width: 900px) {
        font-size: 2.4rem;
    }
}
