:root {
    /* color variables */
    --warm-gray: #DCD6D1;
    --drizzle: #A4A29E;
    --black: #000000;
    --286-c: #0032A0;
    --orange-016-c: #FF5600;
    --cloud-dancer: #F1F0EC;
}

/* Neue Machina - Medium (Used for logo) */
@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('~/assets/fonts/PPNeueMachina-PlainMedium.woff2') format('woff2');
}

/* Neue Machina - Regular */
@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('~/assets/fonts/PPNeueMachina-PlainRegular.woff2') format('woff2');
}

/* NB International - Regular */
@font-face {
  font-family: 'NB International';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('~/assets/fonts/nbinternationalproreg-webfont.woff2') format('woff2');
}

html {
    background-color: var(--cloud-dancer);
}

body {
    font-family: 'NB International', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--cloud-dancer);
}

p {
    font-size: 12px;
    line-height: 1;
}

a:hover {
    text-decoration: none;
}

.logo {
    font-family: 'Neue Machina';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.708; /* 24px */
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    font-feature-settings: 'ss05';
    margin-top: 1px;
}
