.button {
    font-family: 'Neue Machina';
    display: block;
    font-size: 0.75rem;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    color: var(--black);
    border: 1px solid var(--black);
    line-height: .7;
    user-select: none;

    @media (max-width: 900px) {
        font-size: 1.2rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}

.button:hover {
    text-decoration: none;
}