/* Header.module.css */
.header {
    display: flex;
    width: 100%;
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 6.252rem;
    background-color: var(--cloud-dancer);
    z-index: 1000;
}

.header_cube_left {
    position: absolute;
    background-color: var(--black);
    width: 1.06rem;
    aspect-ratio: 1/1;
    left: 0;
}

.header_cube_right {
    position: absolute;
    background-color: var(--black);
    width: 1.06rem;
    aspect-ratio: 1/1;
    right: 0;
}

.header_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* Creates 8 columns */
    column-gap: 2rem;
    width: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
}

.header_menu_item {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 70%;
    /* 24px */
    user-select: none;
}

@media only screen and (max-width: 1440px) {
    .header_grid {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        padding-top: 2.4rem;
        padding-bottom: 1.6rem;
    }

    .header_grid {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .header_menu_item {
        font-size: 2rem;
    }
}