/* Header.module.css */
.header {
    display: flex;
    width: 100%;
    position: fixed;
    padding-top: 2rem;
}

.header_cube_left {
    position: absolute;
    background-color: var(--black);
    width: 1.06rem;
    aspect-ratio: 1/1;
    left: 0;
}

.header_cube_right {
    position: absolute;
    background-color: var(--black);
    width: 1.06rem;
    aspect-ratio: 1/1;
    right: 0;
}

.header_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Creates 8 columns */
    column-gap: 20px;
    width: 100%;
    margin-left: 64px;
    margin-right: 64px;
}
