/* Index page styles */
.main_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Creates 8 columns */
    column-gap: 1.25rem;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 100%;
}

.image_container::-webkit-scrollbar{
    display: none;
}
