/* Index page styles */
.main_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Creates 8 columns */
    column-gap: 20px;
    margin-left: 64px;
    margin-right: 64px;
    height: 100%;
}

.image_container::-webkit-scrollbar{
    display: none;
}
