/* Index page styles */
.main_grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* Creates 8 columns */
    column-gap: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 100%;
}

.child_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.mini_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.image_container::-webkit-scrollbar {
    display: none;
}

.button {
    text-align: left;
    font-family: 'Neue Machina';
    display: block;
    font-size: 0.75rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    color: var(--black);
    border: .5px solid var(--drizzle);
    line-height: 1;
    user-select: none;
    text-transform: uppercase;

    @media (max-width: 900px) {
        font-size: 1.2rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}

.button:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1440px) {

    .main_grid,
    .fixed_grid {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}